<h1>Entretien Technique de HelloZack</h1>

<h2>Build</h2>
<ul>
  <li><blockquote>git pull git@gitlab.com:JGrach/hellozack_api.git && git pull git@gitlab.com:JGrach/hellozack_front.git && cd hellozack_front</blockquote></li>
  <li>
    Dans le dossier config.json, le host api de l'environnement stage doit pointer à l'adresse du serveur api.
  </li>
  <li><blockquote>cd .. && cd hellozack_api</blockquote></li>
  <li>
    Dans les dossiers env (bdd.env et nodemailer.env), vous pouvez personnaliser les variables à votre guise.
    bdd.env devrait fonctionner sans y toucher, ce n'est pas le cas de nodemailer.env qui nécessite les paramètres de l'adresse mail expéditrice.
    Note sur NODEMAILER_SERVICE: En cas d'utilisation de gmail soyez sûr de configurer correctement le compte google,
    gmail n'autorise pas un appel externe par défaut.
    De souvenir: Mon Compte -> Gérer les paramètres de sécurité -> Paramètre "Autoriser les applications moins sécurisées"
  </li>
  <li><blockquote>docker-compose build && docker-compose up -d</blockquote></li>
</ul>

<h2>Consignes</h2>

<h3>Insérer manuellement un signalement à l'aide d'un formulaire</h3>
<ul>
  <li>- Table signalement crée avec relation pour statut, animal, état et brigade - <span style="color:#c5f015;">check</span></li>
  <li>- route post et controller avec vérification usuels d'entrée - <span style="color:#c5f015;">check</span></li>
  <li>- sauvegarde en bdd - <span style="color:#c5f015;">check</span></li>
  <li>- formulaire front - <span style="color:orange;">check (travailler style)</span></li>
</ul>

<h3>Notifier par mail le responsable lorsqu'un signalement est donné</h3>
<ul>
  <li>- Ajout d'un service nodemailer <span style="color:#c5f015;">check</span></li>
  <li>- Ajout d'un envoi de mail dans controller ajout signalement sur succès <span style="color:#c5f015;">check</span></li>
</ul>

<h3>Afficher tous les signalements en fonction de leur statut</h3>
<ul>
  <li>- route get et controller pour signalement - <span style="color:#c5f015;">check</span></li>
  <li>- route get et controller pour statut permettant d'alimenter les options - <span style="color:#c5f015;">check</span></li>
  <li>- select where dans le model pour tri du statut - <span style="color:#c5f015;">check</span></li>
  <li>- page d'affichage front - <span style="color:#c5f015;">check</span></li>
  <li>- select options dans le front - <span style="color:#c5f015;">check</span></li>
</ul>

<h3>Modifier un signalement manuellement</h3>
<ul>
  <li>- route put et controller pour signalement avec vérification usuels d'entrée - <span style="color:#c5f015;">check</span></li>
  <li>- sauvegarde en bdd - <span style="color:#c5f015;">check</span></li>
  <li>- formulaire front - <span style="color:#c5f015;">check</span></li>
</ul>

<h3>Permettre d'assigner facilement un signalement a une brigade de secours</h3>
<ul>
  <li>- possible depuis modification signalement manuel <span style="color:#c5f015;">check</span></li>
  <li>- page d'assignement front <span style="color:red;">pas priorité</span></li>
</ul>

<h3>Signalement affecté à brigade déclenche mise à jour automatique du statut</h3>
<ul>
  <li>- controller signalement update doit vérifier si brigade et changer le statut si celui ci est juste signalé <span style="color:#c5f015;">check</span></li>
</ul>

<h3>Un boutton permet de changer le statut de l'animal en sauver ou échec</h3>
<ul>
  <li>- possible depuis modification signalement manuel <span style="color:#c5f015;">check</span></li>
  <li>- boutton front <span style="color:red;">pas priorité</span></li>
</ul>

<h3>Notifier par mail le l'adresseur a l'issue de la procedure</h3>
<ul>
  <li>- Ajout d'un envoi de mail dans controller update signalement si statut échec ou sauvé <span style="color:#c5f015;">check</span></li>
</ul>

<h2>Ce qu'il reste à faire</h2>
<ul>
  <li>- style: Le style est juste suffisant pour lisibilité, c'est un backend</li>
  <li>- tester l'envoi d'erreurs: J'ai mis en place quelques sécurités mais je n'en ai pas beaucoup testé</li>
</ul>